body {
    text-align: center;
    font-family: 'Arial';
    color: purple;
}

h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}

p {
  color: green;
  font-family: courier;
}

#corn_container {
    height: 100%; 
    width:100%; 
    font-size: 0;
}

#corn_picture {
    content:url(https://github.com/usedgenes/MyWebsite/blob/main/docs/assets/Corn.jpg?raw=true);
    display: inline-block; 
    width: 50%;
}

#corn_text {
    display: inline-block; 
    width: 50%;
    font-size: 12px;
    vertical-align: bottom;
    margin-bottom:10px;
}

#link {
    href: "https://www.w3schools.com";
}

#space {
    padding: 5px;
}

#more_info {
}